body {
  place-items: start;
  padding:  3rem;
  background-color: #06060D;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

label, h2 {
  font-size: 2rem;
}

form {
  display: flex;
  align-items: end;
  gap: 2rem;
}

input, button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1rem 0 0;
  display: block;
  font-size: 1em;
  color: black;
  background-color: #A2A69F;
  transition: border-color 0.25s;
}

.games {
  display: flex;
  flex-wrap: wrap;
}

.games > div {
  display: flex;
  align-items: start;
  gap: 2rem;
  height: 8rem;
  margin-top: 2rem;
  width: 28rem;
}

.games img {
  height: 100%;
  width: 13rem;
  object-fit: cover;
}

